<%= form_with(model: post, local: true) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.submit %>
    </div>
<% end %>