<body>
    <div class="sidebar-left">
       <p class="logo"> <%= link_to image_tag("/assets/me_logo.png"), posts_path %> </p>
       <h4> Welcome to the Margot Emporium! Create an account to vote for and comment on your favorite Margot images! </h4>
       <ul class="actions">
            <% if user_signed_in? %>
                Signed in as <%= current_user.username %>.

                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger m1-1" %></li>
            <% end %>
            <% unless user_signed_in? %>
                <li class="<%= "active" if current_page?("/users/sign_up") %>"><%= link_to "Sign up", new_user_registration_path %></li>
                <li class="<%= "active" if current_page?("/users/sign_in") %>"><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
            
            <% admins_only do %>
                <li><%= link_to "New Margot", new_admin_post_path %></li>
            <% end %>
        </ul>
    </div>

    <div class="sidebar-right">
        <div class="allhof">
            <figure class="hof">
                <% if Post.maximum(:cached_votes_total) == 0 %>
                    There is no Hall of Famer at the moment!
                <% elsif post = Post.find_by(cached_votes_total:Post.maximum(:cached_votes_total)) %>
                    <% last = Post.order("cached_votes_total DESC").last %>
                        <p class="img"><%= link_to (image_tag post.image), post %></p>
                        <h3>  The Hall of Famer  <br>
                        with <%= post.get_likes.size %> <%= (post.get_likes.size) == 1 ? "vote!" : "votes!" %></h3> 
                        

                    Last place is <%= last.name %> with <%= last.get_likes.size %>!
                    <p class="img"><%= link_to (image_tag last.image), last %></p>
                <% end %>
            </figure>
        </div>
    </div>

    <div class="content">
            <% @posts.each do |post| %>
                <figure class="posts"> <%= link_to (image_tag post.image), post %>
                    <figcaption> <%= link_to post.name, post %> </figcaption>
                </figure>
            <% end %>
    </div>

</body>
