<div class="post">
    <%= @post.name %>

    <p class="image"><%= image_tag @post.image %></p>
</div>

<div class="votes">
    <% users_only || admins_only do %>
        <%= link_to "Vote", like_post_path(@post),
            method: :get %>
    <% end %>
    <%= @post.get_likes.size %> <%= (@post.get_likes.size) == 1 ? "like" : "likes" %>
</div>

<div class="comments">
    <header>
        <h3> Comments: </h3>
    </header>

    <% comments = @post.comments.persisted.ordered %>
    <% if comments.any? %>
        <%= render comments %>
    <% else %>
        <p> No comments yet! </p>
    <% end %>

    <% users_only || admins_only do %>
        <%= render "comments/form", post: @post, comment: @comment %>
    <% end %>
</div>

    <ul class="actions">
        <li><%= link_to "Return to the Emporium...", posts_path %></li>

        <% admins_only do %>
            <li><%= link_to "Edit this Margot", edit_admin_post_path(@post) %></li>
            <li><%= link_to "Remove this Margot", admin_post_path(@post),
            method: :delete,
            data: { confirm: "Do you want to remove this Margot?" } %></li>
        <% end %>
    </ul>
