<div class="post">
    <%= @post.name %>

    <%= image_tag @post.image %>
</div>

<ul class="actions">
    <li><%= link_to "Return to the Emporium...", posts_path %></li>
    <li><%= link_to "Edit this Margot", edit_post_path(@post) %></li>
    <li><%= link_to "Remove this Margot", post_path(@post),
    method: :delete,
    data: { confirm: "Do you want to remove this Margot?" } %></li>
</ul>